<div class="container">
	<h1 class="text-center">Angular Application</h1>
    <form class="container col-sm-6" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
		<div [hidden]="nameRef.valid ">
			<label>First Name, Last Name, and Address are requried.</label>
		</div>
		<input type="text" #nameRef="ngModel" required class="form-control" name="firstName" placeholder="first name" ngModel>
		<br/>
		<input type="text" #nameRef="ngModel" required class="form-control" name="lastName" placeholder="last name" ngModel>
		<br/>
		<input type="text" #nameRef="ngModel" required class="form-control" name="address" placeholder="address" ngModel>
		<br/>
		<input type="text" #nameRef="ngModel" class="form-control" name="company" placeholder="company (optional)" ngModel>
		<br/>
		<br/>
		<button [disabled]="!userForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
	
	<div class="container well col-sm-6">
		<label>Data submitted</label>
		<p>First Name: {{model.first_name}}</p>
		<p>Last Name: {{model.last_name}}</p>
		<p>Address: {{model.address}}</p>
		<p>Company: {{model.company}}</p>
	</div>
	
</div>

